<section class="events" id="events">
  <div class="grid-container">
    <div class="content-area">
      {% assign events_order = site.events | sort: 'date' %}
      <div class="logo-container logo-slider">
        <div class="slide-track">
          {% for event in events_order %}
            <div class="grid-x align-bottom e-badge e-badge__{{event.event-name | replace: ' ', '-' | downcase}}">
              <div class="cutout"></div>
              <div class="lanyard"></div>
              {{event.content}}
            </div>
          {% endfor %}
          {% for event in events_order %}
            <div class="grid-x align-bottom e-badge e-badge__{{event.event-name | replace: ' ', '-' | downcase}}">
              <div class="cutout"></div>
              <div class="lanyard"></div>
              {{event.content}}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="grid-x text-container align-justify align-bottom">
        <div class="cell shrink">
          <h2><span>Knowledge.</span><span>Knowledge.</span>Knowledge.</h2>
        </div>
        <div class="cell medium-6 right-section">
          <p>Attended several industry events this year, soaking up of new things along the way.</p>
        </div>
      </div>
    </div>
  </div>
</section>
