<section class="events" id="events">
  <div class="grid-container">
    <div class="content-area">
      {% assign array-list = "(uxdx.svg|UXDX Logo),(config.svg|Config Logo),(siggraph.svg|Siggraph Logo),(leadership-design.svg|Leadership by Design Logo),(chicago-camps.svg|Chicago Camps Logo)" | remove: "(" | remove: ")" | split: ',' %}

      <!-- TODO fix date sorting is not working as intended -->
      {% assign events_order = site.events | sort: 'start-date' %}
      <div class="logo-container logo-slider">
        <div class="slide-track">
          {% for event in events_order %}
            <div class="e-badge e-badge__{{event.event-name | replace: ' ', '-' | downcase}}">
              <div class="cutout"></div>
              <div class="lanyard"></div>
              {{event.content}}
            </div>
          {% endfor %}
          <!-- TODO run loop twice for infinite scroll -->
        </div>
      </div>
      <div class="grid-x text-container">
        <div class="cell">
          <h2><span>Knowledge.</span><span>Knowledge.</span>Knowledge.</h2>
        </div>
        <div class="cell medium-8">
          <p>Attended several industry events this year, soaking up of new things along the way.</p>
        </div>
      </div>
    </div>
  </div>
</section>
