<section class="favorite-things" id="favorite-things">
  <div class="grid-container">
    <div class="fave-content-wrapper">
      <div class="grid-x cell header-wrapper align-center align-middle">
        <h2 class="shimmer">
          <span class="year-number">2024</span>
          <span class="main-title">Favorite Things</span>
        </h2>
      </div>
      <div class="cell wheel">
        {%- for thing in site.fave-things -%}
        <div class="circle circle-{{forloop.index}}" style="background-color:#{{thing.background-color}}">
          <div class="image-wrapper">
            <img src="../img/fave-things/{{thing.image}}" alt="{{thing.image-alt}}">
          </div>
          <div class="description-tooltip">
            <span>{{thing.name}}</span>
            <p>{{thing.description}}</p>
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

<!-- TODO sort out overflow x issue with this section -->
<!-- TODO have the hover show up on touch as well -->