<section class="favorite-things" id="favorite-things">
  <div class="grid-container">
    <div class="fave-content-wrapper">
      <div class="grid-x cell header-wrapper align-center align-middle">
        <h2 class="shimmer">
          <span class="year-number">2024</span>
          <span class="main-title">Favorite Things</span>
        </h2>
      </div>
      <div class="cell wheel">
        <div class="circle circle-1">
          <div class="image-wrapper">
            <img src="../img/fave-things/battery-pack.png" alt="">
          </div>
          <div class="description-tooltip">
            <span>Cool Battery</span>
            <p>this is where the description will go. What happens if this is longer how does the location work?</p>
          </div>
        </div>
        <!-- TODO make this a for loop -->
        <div class="circle circle-2">
          <a href="">
            <div class="image-wrapper">
              <img src="../img/fave-things/battery-pack.png" alt="">
            </div>
          </a>
          <div class="description-tooltip">
            <span>Cool Battery</span>
            <p>What happens if this is longer how does the location work?</p>
          </div>
        </div>
        <div class="circle circle-3">
          <div class="image-wrapper">
            <img src="../img/fave-things/battery-pack.png" alt="">
          </div>
          <div class="description-tooltip">
            <span>Cool Battery</span>
            <p>this is where the description will go</p>
          </div>
        </div>
        <div class="circle circle-4">
        </div>
        <div class="circle circle-5">
        </div>
        <div class="circle circle-6">
        </div>
        <div class="circle circle-7">
        </div>
        <div class="circle circle-8">
        </div>
      </div>
    </div>
  </div>
</section>