<section class="favorite-things" id="favorite-things">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell medium-10 grid-x row-pill first-pill align-justify">
        <div class="child-pill cell medium-shrink grid-x">
          <div class="text-pill cell grid-x shrink align-middle">
            <div class="text-content cell">
              <h3>2023</h3>
              <h2>Favorite</h2>
            </div>
          </div>
        </div>
        <div class="child-pill cell medium-shrink grid-x">
          <div class="cell grid-x align-right medium-shrink thing-wrapper1">
            <div class="thing-container cell small-4">
              <a href="https://www.anker.com/products/a1616" target="_blank" rel="noopener" class="thing-link">
                <div class="thing-container">
                  <img src="/img/fave-things/battery-pack.png" alt="Anker Magsafe iOS Battery Pack">
                </div>
              </a>
            </div>
            <div class="thing-container cell small-4">
              <a href="https://www.youtube.com/@CleoAbram" target="_blank" rel="noopener" class="thing-link">
                <div class="thing-container">
                  <img src="/img/fave-things/huge-true.png" alt="Huge if True Youtube Series">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cell grid-x align-center text-row">
        <div class="cell small-10 medium-6">
          <p>
            Taking a page out of the&nbsp;{%- include external-link.html link="https://www.youtube.com/watch?v=KgV8acbjMEY&list=PLJtitKU0CAejSPwgkcdznaZ165iVDbn58&pp=iAQB" content="Tested" -%} &nbsp;team's book, here are a few of my favorite things from the past year.
          </p>
        </div>
      </div>
      <div class="cell medium-10 medium-offset-2 grid-x row-pill second-pill">
        <div class="cell grid-x align-justify fake-border">

          <div class="child-pill cell grid-x medium-shrink">
            <div class="cell grid-x fake-border">
              <div class="cell medium-shrink grid-x thing-wrapper2">
                <a href="https://procreate.com/dreams" target="_blank" rel="noopener" class="cell small-4 thing-link">
                  <div class="thing-container">
                    <img src="/img/fave-things/procreate-dreams.png" alt="Procreate Dreams">
                  </div>
                  <span class="visually-hidden">Opens a new window</span>
                </a>
                <a href="https://apps.apple.com/us/app/wikipedia/id324715238" target="_blank" rel="noopener" class="cell small-4 thing-link">
                  <div class="thing-container">
                    <img src="/img/fave-things/wikipedia-ios.png" alt="Wikipedia iOS Widget">                                  
                  </div>
                  <span class="visually-hidden">Opens a new window</span>
                </a>
                <a href="https://www.taschen.com/en/books/photography/41405/stephen-wilkes-day-to-night" target="_blank" rel="noopener" class="cell small-4 thing-link">
                  <div class="thing-container">
                    <img src="/img/fave-things/day-night-book.png" alt="Stephen Wilkes: Day to Night Photography Book Cover">
                  </div>
                  <span class="visually-hidden">Opens a new window</span>
                </a>
              </div>
            </div>
          </div>

          <div class="child-pill cell grid-x medium-shrink">
            <div class="text-pill cell grid-x medium-shrink align-middle">
              <div class="text-content cell">
                <h2>Things</h2>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>