<section class="film-credit" id="film-credit">
  <div class="grid-container">
    <div class="grid-x cell content-card align-middle align-justify">
      <div class="cell medium-6 poster-area align-center grid-x">
        <div class="poster cell shrink">
          <!-- TODO add Hei Hei & Pua popout characters -->
          <img src="/img/film-credit/main-poster.jpg" alt="Moana 2 poster with Moana and Maui on the canoe">
        </div>
        <div class="poster poster2 cell shrink">
          <img src="/img/film-credit/poster-big2.jpg" alt="Moana 2 poster with Maui's hook and Moana's oar in the shape of a 2">
        </div>
        <div class="poster poster3 cell shrink">
          <img src="/img/film-credit/poster-sail.jpg" alt="Moana 2 poster with Moana swinging from the sail of her canoe">
        </div>
      </div>
      <div class="cell medium-5 text-area">
        <h2 class="visually-hidden">Moana 2</h2>
        {%- include_relative img/film-credit/moana2-logo.svg -%}
        <p>TODO rewrite copy.. Received my second film credit with Moana 2! If you haven't already, go out and watch it. Give a shout when you see my name in the credits. Say hi to Pua for me!</p>
      </div>
    </div>
  </div>
</section>