<section class="film-credit" id="film-credit">
  <div class="grid-container">
    <div class="grid-x cell content-card align-middle align-justify">
      <div class="cell medium-6 poster-area align-center grid-x">
        <div class="poster cell shrink">
          <img src="/img/film-credit/main-poster.jpg" alt="Moana 2 Poster with Moana and Maui on the canoe">
        </div>
        <div class="poster poster2 cell shrink">
          <img src="/img/film-credit/main-poster.jpg" alt="">
        </div>
        <div class="poster poster3 cell shrink">
          <img src="/img/film-credit/main-poster.jpg" alt="">
        </div>
      </div>
      <div class="cell medium-5 text-area">
        <h2 class="visually-hidden">Moana 2</h2>
        logo here
        <p>TODO rewrite copy.. Received my second film credit with Moana 2! If you haven't already, go out and watch it. Give a shout when you see my name in the credits.</p>
      </div>
    </div>
  </div>
</section>