{% assign movie-list = "Spider-Man No Way Home, No Time to Die, Strange World, Thor: Love and Thunder, Turning Red" | split: ',' %}

<section class="film-credit" id="film-credit">
  <div class="grid-container">
    <div class="grid-x content-area">
      <div class="poster-container cell medium-6">
        <div class="poster">
          <img src="../img/wish-poster.jpg" alt="Disney Animation's Wish Movie Poster">
        </div>
      </div>
      <div class="text-container cell grid-x medium-6 align-middle">
        <div class="cell grid-x align-center">
          <div class="cell shrink">
            <img class="wdas-logo" src="../img/wdas-100-logo.svg" alt="Walt Disney Animation Studio's Centennial Logo">
          </div>
          <div class="cell text-description">
            From 100 years to my first! This year I celebrated the 100th anniversary of the Walt Disney Animation Studios. Received my first film credit with the release of Wish. If you haven't already, go out and watch Wish! Give a shout out when you see my name in the credits.
          </div>
        </div>
      </div>

    </div>
  </div>
</section>