<section class="making-of" id="making-of">
  <div class="grid-container">
    <div class="grid-x content-area">
      <div class="text-area cell medium-4">
        <i class="fas fa-rocket"></i>
        <h2>Launched Flowstate</h2>
        <p>A design tool, that helps you explore interaction details and workflows from a whole set of products out in the world.</p>
        {%- include external-link.html css-class="flowstate-link" link="https://flowstate.rehanbutt.com" content="Explore Flowstate" -%}
      </div>
    </div>
  </div>
</section>