<footer>
  <div class="grid-container">

    <div class="grid-x no-select content-area">
      <div class="grid-x cell next-year">
        <div class="grid-x cell twenty">
          <div class="cell small-4 medium-shrink">
          </div>
          <div class="scaling-middle cell auto">
          </div>
          <div class="cell small-4 medium-shrink">
          </div>
        </div>
        <div class="grid-x cell twenty-four">
          <div class="cell small-4 medium-shrink">
          </div>
          <div class="scaling-middle cell auto">
          </div>
          <div class="cell small-4 medium-shrink">
          </div>
        </div>
      </div>
      <div class="grid-x cell align-justify title-area">
        <div class="cell shrink subtitle">
          Here's to a spectacular 2024!
        </div>
        <div class="logo cell shrink">
          <a target="_blank" rel="noopener" href="{{ site.mainurl }}/">
            {% capture location %}footer{% endcapture %}
            {% include_relative img/rehan-logo.svg %}
          </a>
        </div>
      </div>
    </div>

  </div>
</footer>
