<section class="lastly" id="lastly">
  <div class="grid-container">
    <div class="grid-x">
      <div class="title-container cell medium-4">
        <h2>Goodbye 2023 👋</h2>
      </div>
      <div class="card cell medium-8">
        <p>It's time to bid farewell to 2023. Another year of wonderful experiences and happiness. As the new year starts, I wish you all the success and joy. Here is to all the beautiful memories of 2023 and to the next year full of laughter and unforgettable adventures.</p>
        <div class="share-area cell grid-x align-middle">
          <div class="words cell shrink">
            <p class="enjoyed">Enjoyed my year in review?</p>
            <p>Share it with your network.</p>
          </div>
          <div class="icon-wrapper cell medium-auto grid-x">
            <div class="link-wrapper cell">
              <a rel="noopener" target="_blank" href="https://twitter.com/intent/tweet?text=Check%20out%20%40naher94%20awesome%20year%20in%20review!&amp;url={{ site.url }}/">
                <div class="share-item">
                  <i class="fab fa-twitter" aria-hidden="true"></i>
                </div>
                <span class="visually-hidden">Opens a new window</span>
              </a>
            </div>
            <div class="link-wrapper cell">
              <a rel="noopener" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}" target="_blank">
                <div class="share-item">
                  <i class="fab fa-linkedin" aria-hidden="true"></i>
                </div>
                <span class="visually-hidden">Opens a new window</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
