<section class="lastly" id="lastly">
  <div class="grid-container">
    <div class="grid-x">
      
      <div class="post-it-wrapper cell medium-4">
        <div class="post-it">
          <h2>See you 2024</h2>
          <p>It's time to bid farewell to 2023. Another year of wonderful experiences and happiness. As the new year starts, I wish you all the success and joy. Here is to all the beautiful memories of 2023 and to the next year full of laughter and unforgettable adventures.</p>
        </div>
      </div>
      <div class="polaroid-wrapper pw1 cell medium-4">
        <div class="polaroid">
          <img src="https://image.ibb.co/b8UJBc/administration_architecture_big_ben_221166.jpg" alt="">
          <div class="caption" id="foo">I Miss London</div>
          {% include_relative img/lastly/paperclip.svg %}
        </div>
        <!-- TODO figure out the scale issue here with this being scaled up -->
      </div>
      <div class="polaroid-wrapper pw2 cell medium-4">
        <div class="polaroid">
          <img src="img/lastly/color-script-square.jpg" alt="">
          <div class="caption" id="foo2">Square Image</div>
        </div>
      </div>

    </div>
    <div class="grid-x align-center">
      <div class="share-area cell grid-x align-middle small-10 medium-shrink align-justify">
        <div class="words cell shrink">
          <p class="enjoyed">Enjoyed my year in review?</p>
          <p>Share it with your network.</p>
        </div>
        <div class="icon-wrapper cell grid-x shrink align-self-stretch">
          <div class="link-wrapper cell small-6 align-self-bottom">
            <a rel="noopener" target="_blank" href="https://www.threads.net/intent/post?text=Check%20out%20%40naher94%20awesome%20year%20in%20review!%20{{ site.url }}">
              <div class="share-item">
                {%- include_relative img/lastly/threads.svg -%}
              </div>
              <span class="visually-hidden">Opens a new window</span>
            </a>
            {% include_relative img/lastly/paperclip.svg %}
          </div>
          <div class="link-wrapper cell  small-6 align-self-top">
            <a rel="noopener" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}" target="_blank">
              <div class="share-item">
                {%- include_relative img/lastly/linkedin.svg -%}
              </div>
              <span class="visually-hidden">Opens a new window</span>
            </a>
            {% include_relative img/lastly/paperclip.svg %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
