<section class="leveled-up grid-container" id="skills">
  <div class="grid-x content-area">
    <div class="cloud-wrapper">
      <div class="cloud-container">
        <div class="gradient-container"></div>
        <div class="slide-track">
          <div class="slide">

          </div>
          <div class="slide">

          </div>
          <div class="slide">

          </div>
          <div class="slide">

          </div>
        </div>
      </div>
    </div>
    <div class="cloud-wrapper2">
      <div class="cloud-container">
        <div class="gradient-container"></div>
        <div class="slide-track">
          <div class="slide">

          </div>
          <div class="slide">
 
          </div>
          <div class="slide">

          </div>
          <div class="slide">

          </div>
          <div class="slide">

          </div>
          <div class="slide">
 
          </div>
        </div>
      </div>
    </div>

    <div class="grid-x cell medium-auto bundle-container">
      <div class="balloon-container cell grid-x align-center">
      </div>
      <div class="cell grid-x align-center text-container">
        <div class="cell shrink">
          <h2><span>leveled</span>up</h2>
        </div>
      </div>
    </div>
    <div class="grid-x text-container cell small-12 medium-4 align-middle">
      <p>Continued to level up my skills and acquired some new ones this year.</p>
    </div>
  </div>
</section>