<section class="movies" id="movies">
  <div class="grid-container">
    <div class="grid-x content-area">
      <div class="overhang cell grid-x">
        <div class="grid-x cell title-container">
          <div class="grid-x cell">
            <div class="cell">
              <h2>film log</h2>
            </div>
            <div class="cell title2">
              <h3>Top Picks <span>2023</span></h3>
            </div>
          </div>
        </div>
        <div class="top-picks grid-x cell align-center">
          <div class="poster-container grid-x cell shrink align-middle">
            <div class="cell shrink poster-box small-order-3">
              <div class="poster grid-x cell poster-barbie">
                <div class="cell grid-x align-center small-order-2">
                  <div class="number cell">
                    <p>1</p>
                  </div>
                </div>
                <img src="/img/movies/barbie-poster.jpg" alt="Barbie Poster">
                <img src="/img/movies/hi-barbie.gif" alt="Hi Barbie Clip" class="barbie-gif">
              </div>
            </div>
            <div class="cell shrink poster-box small-order-2">
              <div class="poster grid-x cell poster-elemental">
                <div class="cell grid-x align-center small-order-2">
                  <div class="number cell">
                    <p>2</p>
                  </div>
                </div>
                <img src="/img/movies/elemental-poster.jpg" alt="Disney & Pixar's Elemental Poster">
              </div>
            </div>
            <div class="cell shrink poster-box small-order-4">
              <div class="poster grid-x cell poster-top-gun">
                <div class="cell grid-x align-center small-order-2">
                  <div class="number cell">
                    <p>3</p>
                  </div>
                </div>
                <img src="/img/movies/topgun-poster.jpg" alt="Top Gun: Maverick's Poster">
              </div>
            </div>
            <div class="cell shrink poster-box small-order-1">
              <div class="poster grid-x cell poster-glass-onion">
                <div class="cell grid-x align-center small-order-2">
                  <div class="number cell">
                    <p>4</p>
                  </div>
                </div>
                <img src="/img/movies/glassonion-poster.jpg" alt="Glass Onion Poster">
              </div>
            </div>
            <div class="cell shrink poster-box small-order-5">
              <div class="poster grid-x cell poster-black-panther">
                <div class="cell grid-x align-center small-order-2">
                  <div class="number cell">
                    <p>5</p>
                  </div>
                </div>
                <img src="/img/movies/blackpanther2-poster.jpg" alt="Marvel's Black Panther: Wakanda Forever Poster">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-container grid-x cell align-center">
        <div class="cell shrink">
          <div class="divider-line"></div>
        </div>
      </div>
      <div class="stats-container grid-x cell">
        <div class="total-watched cell medium-shrink">
          <div class="text-container">
            <p class="sub-description"><i class="fas fa-history"></i> 31% were rewatches</p>
            <p class="number">185</p> 
            <p>featured films watched</p>
            <!-- As of Dec 31st -->
          </div>
        </div>
        <div class="busy-day cell medium-auto grid-x align-bottom">
          <div class="text-container cell shrink">
            <p class="sub-description"><i class="fas fa-equals"></i> Tie between</p>
            <p class="number">Jan 16th & Jan 17th</p> 
            <p>for the busiest watch days with 6 movies</p>
          </div>
        </div>
        <div class="first-watch cell medium-shrink grid-x align-bottom">
          <div class="text-container">
            <p class="sub-description"><i class="fas fa-plane"></i> Watched at 35,000ft</p>
            <p class="number">House of Gucci</p> 
            <p>1st watched</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>