<section class="skills grid-container" id="skills">
  <div class="grid-x content-area">
    <div class="cell text-hero">
      <h2 class="visually-hidden">Skills</h2>
      <svg viewBox="0 0 26 18">
        <text x="-0.5" y="17">Skills</text>
      </svg>
      <div class="tag-container">
        <div class="tag">tag 1</div>
        <div class="tag">Interaction Design</div>
      </div>
    </div>
    <div class="grid-x text-container cell">
      <p>Continued to level up my skills and acquired some new ones this year.</p>
    </div>
  </div>
</section>