<section class="skills grid-container" id="skills">
  <div class="grid-x content-area">
    <div class="cell text-hero">
      <h2 class="visually-hidden">Skills</h2>
      <svg viewBox="0 0 26 18">
        <text x="-0.5" y="17">Skills</text>
      </svg>
      <div class="tag-container">
        <div class="pill">
          <div class="gradient">
          </div>
          <div class="text">
            Interaction Design
          </div>
        </div>
        <div class="pill">
          <div class="gradient gradient2">
          </div>
          <div class="text">
            Design Ops
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x text-container cell">
      <p>Continued to level up my skills and acquired some new ones this year.</p>
    </div>
  </div>
</section>