<section class="speaking" id="speaking">
  <div class="grid-container">

      <div class="grid-x grid-margin-x grid-margin-y">
        <div class="grid-x cell medium-3 shape-container">
          cell
        </div>
        <div class="grid-x cell medium-4 shape-container">
          headshot
        </div>
        <div class="grid-x cell auto shape-container color-block">
        </div>
        <div class="grid-x cell medium-4 shape-container header-shape">
          <h2>
            <span>Spoke at</span>
            <span>Disney's</span>
            UX Summit
          </h2>
        </div>
        <div class="cell shrink grid-x shape-container logo-shape">
          {%- include_relative  img/speaking/ux-summit-logo.svg -%}
        </div>
        <div class="cell auto shape-container">

        </div>
        <div class="cell medium-8 grid-x shape-container talk-shape">
          <h3>Lighting the Way: What it's like Designing Lighting Tools at Disney Animation</h3>
          <p>Lighting is a critical part of our animated films. How do we enable new workflows and greater control while lowering the barrier for our artists to bring their visions to life? What experiences do we mirror in the new tooling landscape and what do you leave behind? This talk explores the lessons learned and some best practices for building and adopting new tools within a legacy system.</p>
        </div>
      </div>


  </div>
</section>