<section class="travel" id="travel">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell grid-x content-area">

        <div class="cell grid-x page">
          <div class="cell grid-x title-area align-middle">
            <div class="cell medium-6">
              <h2>travel log</h2>
            </div>
            <div class="cell medium-6">
              <h2>2023</h2>
            </div>
          </div>
          <div class="cell stamp-area">
            <div class="stamp stamp-dc">
            </div>
            <div class="stamp stamp-chicago">
            </div>
            <div class="stamp stamp-la">
            </div>
            <div class="stamp stamp-nyc">
            </div>
            <div class="stamp stamp-pittsburgh">
            </div> 
            <div class="stamp stamp-colmar">
            </div>
            <div class="stamp stamp-schwangau">
            </div>
            <div class="stamp stamp-montreux">
            </div>
            <div class="stamp stamp-zurich">
            </div>
            <div class="stamp stamp-doha">
            </div>
            <div class="stamp stamp-abu-dhabi">
            </div>
            <div class="stamp stamp-istanbul">
            </div>
          </div>
          <div class="divider grid-x cell align-justify">
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
            <div class="cell shrink"><i class="fas fa-plane"></i></div>
          </div>
          <div class="grid-x cell data-area">
            <div class="grid-x cell align-justify">
              <div class="cell small-6 medium-shrink lockup-big">
                <p class="text-top">miles</p>
                <p class="number-big">54,056</p>
                <p class="text-bottom">2.2x around the world</p>
              </div>
              <div class="cell small-6 medium-shrink lockup-big">
                <p class="text-top">flights</p>
                <p class="number-big">15</p>
                <p class="text-bottom">5 long haul</p>
              </div>
              <div class="cell small-6 medium-shrink lockup-big">
                <p class="text-top">airports</p>
                <p class="number-big"><i class="fas fa-plane"></i> 7</p>
                <p class="text-bottom">9 flights at LAX</p>
              </div>
              <div class="cell small-6 medium-shrink lockup-big">
                <p class="text-top">countries</p>
                <p class="number-big"><i class="fas fa-globe"></i> 8</p>
                <p class="text-bottom">3 continents</p>
              </div>
              <div class="cell lockup-big auto medium-shrink">
                <p class="text-top">flight time</p>
                <p class="number-big"><i class="fas fa-clock"></i> 4d 17h</p>
                <p class="text-bottom">2h 45m of delays</p>
                <!-- As of Dec 31st -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>