<section class="travel" id="travel">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="grid-x cell medium-4 small-12 column">
        <div class="boarding-card title-card cell">
          <h2>Travel Log</h2>
        </div>
        {% assign travel_order = site.travel | sort: 'date' %}
        {%- for trip in travel_order limit: 9 -%}
        {%- assign class-travel = {{trip.start-location-short}} | append: "-" | append: {{trip.end-location-short}} | downcase -%}
        <div class="boarding-card cell grid-x align-justify {{class-travel}}">
          <div class="content-area cell grid-x align-middle">
            <div class="departure cell small-5">
              <span>{{trip.start-location-short}}</span>
              <span>{{trip.start-location}}</span>
            </div>
            <div class="cell small-2 icon-wrapper">
              {%- case trip.transit-type -%}
                {%- when "car" -%}
                  {%- include_relative img/travel/car.svg -%}
                {%- when "train" -%}
                  {%- include_relative img/travel/train.svg -%}
                {%- when "plane" -%}
                  {%- include_relative img/travel/plane.svg -%}
              {%- endcase -%}
            </div>
            <div class="arrival cell small-5">
              <span>{{trip.end-location-short}}</span>
              <span>{{trip.end-location}}</span>
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>

      <div class="grid-x cell medium-4 small-12 column">
        {%- for trip in travel_order offset: continue -%}
        {%- assign class-travel = {{trip.start-location-short}} | append: "-" | append: {{trip.end-location-short}} | downcase -%}
        <div class="boarding-card cell grid-x align-justify {{class-travel}}">
          <div class="content-area cell grid-x align-middle">
            <div class="departure cell small-5">
              <span>{{trip.start-location-short}}</span>
              <span>{{trip.start-location}}</span>
            </div>
            <div class="cell small-2 icon-wrapper">
              {%- case trip.transit-type -%}
                {%- when "car" -%}
                  {%- include_relative img/travel/car.svg -%}
                {%- when "train" -%}
                  {%- include_relative img/travel/train.svg -%}
                {%- when "plane" -%}
                  {%- include_relative img/travel/plane.svg -%}
              {%- endcase -%}
            </div>
            <div class="arrival cell small-5">
              <span>{{trip.end-location-short}}</span>
              <span>{{trip.end-location}}</span>
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>
      
      <div class="grid-x cell medium-4 small-12 column">
        <div class="boarding-card cell">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>4D 17H</span>
              <span>Flight Time</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>4H</span>
              <span>Lost to Delays</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>21000mi</span>
              <span>Total Miles Flown</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>2.2x</span>
              <span>Times Around the Glove</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>200mi</span>
              <span>Shortest Flight</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>8212mi</span>
              <span>Longest Flight</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>7</span>
              <span>Airports Visited</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell align-justify grid-y">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>LAX</span>
              <span>Busiest Airport with 9 Flights</span>
            </div>
          </div>
          <div class="content-area cell grid-x flighty-credit align-middle">
            <div class="cell icon-wrapper">
              <img src="/img/travel/flighty-app-icon.png.webp" alt="Flighty App Icon">
            </div>
            <div class="cell auto text-area">
              Flight Data captured with Flighty
            </div>
          </div>
        </div>
        <!-- TODO add more stat cards -->
        <!-- most flown aircraft -->
      </div>
    </div>
  </div>
</section>