<section class="travel" id="travel">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="grid-x cell medium-4 small-12 column">
        <div class="boarding-card cell">
          <h2>Travel Log</h2>
        </div>
        <div class="boarding-card cell grid-x align-justify">
          <div class="departure cell small-5">
            <span>DC</span>
            <span>Washington DC</span>
          </div>
          <div>ICON</div>
          <div class="arrival cell small-5">
            <span>NYC</span>
            <span>New York City</span>
          </div>
        </div>
        <div class="boarding-card cell grid-x align-justify">
          <div class="departure">
            <span>DC</span>
            <span>Washington DC</span>
          </div>
          <div class="arrival">
            <span>NYC</span>
            <span>New York City</span>
          </div>
        </div>
      </div>
      <div class="grid-x cell medium-4 small-12 column">
        <div class="boarding-card cell">
          column 2
        </div>
      </div>
      <div class="grid-x cell medium-4 small-12 column">
        <div class="boarding-card cell">
          column 3
        </div>
      </div>

    </div>
  </div>
</section>