<section class="website" id="website">
  <div class="grid-container">
    <div class="grid-x browser-chrome">
      <div class="top-bar grid-x cell">
        <div class="control-container grid-x cell shrink">
          <div class="close cell shrink"></div>
          <div class="minimize cell shrink"></div>
          <div class="expand cell shrink"></div>
        </div>
        <div class="address-bar cell grid-x auto">
          <div class="address-left grid-x cell auto align-middle">
            <div class="cell shrink grid-x">
              {% include_relative img/website/lock.svg %}
            </div>
            <div class="cell shrink">
              {%- include external-link.html link="https://rehanbutt.com/" content="rehanbutt.com" css-class="" -%}
            </div>
          </div>
          <div class="address-right cell shrink align-middle grid-x">
            {% include_relative img/website/honey-dew.svg %}
            {% include_relative img/website/refresh.svg %}
          </div>
        </div>
      </div>
      <div class="content-area grid-x cell">
        <div class="easter-egg-container grid-x cell align-center align-bottom">
          <div class="egg-container main-egg cell shrink small-order-4">
            {% include_relative img/website/egg.svg %}
            {% include_relative img/website/keyhole.svg %}
          </div>
          <div class="egg-container car-horn cell shrink small-order-3">
            <img src="/img/website/bunny-ears.svg" alt="Bunny Ears">
            {% include_relative img/website/egg.svg %}
            {% include_relative img/website/horn.svg %}
          </div>
          <div class="egg-container code-snoop cell shrink small-order-5">
            {% include_relative img/website/egg.svg %}
            {% include_relative img/website/code.svg %}
          </div>
          <div class="egg-container paddington cell shrink small-order-2">
            {% include_relative img/website/egg.svg %}
            {% include_relative img/website/bread.svg %}
          </div>
          <div class="egg-container konami cell shrink small-order-6">
            {% include_relative img/website/egg.svg %}
            {% include_relative img/website/game-controller.svg %}
          </div>
          <div class="egg-container peace cell shrink small-order-1">
            {% include_relative img/website/egg.svg %}
            {% include_relative img/website/peace.svg %}
          </div>
          <div class="egg-container check-list cell shrink small-order-7">
            {% include_relative img/website/egg.svg %}
            {% include_relative img/website/check-list.svg %}
          </div>
        </div>
        <div class="text-content cell">
          <h2>Web Updates</h2>
          <p>This year as part of my website updates, Easter Egg received a major upgrade. A new home to see which easter eggs you have unlocked. Explore my site and find them all! And a bunch more items behind the scenes. TODO add better copy here</p>
        </div>
        <div class="grid-x site-container">
          <div class="cell sub-section medium-shrink by-numbers">
            <div class="title">
              <h3>By the Numbers</h3>
            </div>
            <div class="big-total">
              <p class="numb">11.3K</p>
              <p>Total site visits 2024</p>
            </div>
            <div class="busy-day">
              <p>July 30th</p>
              <p class="busy-label">Busiest Visit Day</p>
            </div>
            <div class="country-visits">
              <p class="country-label">Most page views by country</p>
              {% assign country-list = "(🇺🇸|United States|7551),(🇮🇳|India|435),(🇨🇳|China|332)" | remove: "(" | remove: ")" | split: ',' %}
              <!-- Data as of Dec 31st -->
              {% for country in country-list %}
              {% assign each = country | split: '|' %}
              <div class="country-container grid-x">
                <div class="country-wrapper cell grid-x align-justify">
                  <div class="left-section cell shrink">
                    <p class="flag">{{each[0]}}</p>
                    <p class="country-name">{{each[1]}}</p>
                  </div>
                  <div class="right-section cell shrink">
                    <p class="number">{{each[2]}}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
    
            </div>
          </div>
          <div class="popular-pages cell sub-section medium-auto align-justify grid-y">
            <h3>Most Popular Pages</h3>
            {% assign popular-pages = "(page name|page type|755),(turkey|photography|23),(turkey|photography|23),(turkey|photography|23),(turkey|photography|232)" | remove: "(" | remove: ")" | split: ',' %}
            
            {%- for popular-page in popular-pages -%}
            {% assign each = popular-page | split: '|' %}
            <div class="divider"></div>
            <div class="pop-page">
              <p class="page-name">{{each[0]}}</p>
              <div class="page-details grid-x align-justify">
                <p>{{each[1]}}</p>
                <p>{{each[2]}}</p>
              </div>
            </div>
            {%- endfor -%}
      


          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- TODO sort out overflow x issue with this section on mobile -->
