$card-bg: pink; //make semantic
$badge-punchouts: $card-bg; //should be card-bg
.events{
  margin-top: 2rem;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  .content-area{
    position: relative;
    background-color: $card-bg;
    border-radius: $tile-radius-big;
  }
  .text-container{
    padding-inline: 3em;
    padding-block: 3em;
    @include breakpoint(small only) {
      padding-inline: 1em;
      padding-block: 1em;
    }
  }
  h2{
    font-family: $lato;
    font-weight: $lato-black;
    font-size: 6rem;
    line-height: 1.2;
    @include breakpoint(small only) {
      font-size: 2rem;
      padding: 0;
    }
    span{
      display: block;
      &:first-of-type{
        font-size: .4em;
      }
      &:nth-of-type(2){
        font-size: .7em;
      }
    }
  }
  p{
    font-size: 2rem;
    font-weight: $lato-black;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    color: rgba($navy-black, .70);
    @include breakpoint(small only) {
      font-size: 1rem;
    }
    @media (prefers-color-scheme: dark){
      color: rgba($pure-white, .70);
    }
  }
  
  $animationSpeed: 40s;
  
  // Animation
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-2000px)} //7 is the number of logos
  }
  .logo-slider {
    overflow: hidden;
    position: relative;
    background-color: initial;
    @include breakpoint(small only) {
      padding-bottom: 2rem;
    }
    
    .slide-track {
      // animation: scroll $animationSpeed linear infinite;
      // TODO turn back on when done testing
      display: flex;
      width: 4000px;
      margin-top: 2em;
    }
    .e-badge{
      background: red;
      width: 13em;
      aspect-ratio: 250/375;
      padding-block-start: 2.5em;
      border-radius: $tile-radius-medium;
      box-shadow: 0px 0px 30px -20px rgba($pure-black,0.75);
      position: relative;
      .lanyard{
        position: absolute;
        height: 8em;
        width: 25%;
        top: -6.25em;
        left: 0;
        right: 0;
        margin: auto;
        background: $pure-black;
        background-image: url(/img/events/vertical_cloth.png);
        border-radius: 6px;
        box-shadow: 0px -5px 5px rgba($pure-black,0.75);
      }
      .cutout{
        background: $badge-punchouts;
        height: 1em;
        position: absolute;
        width: 30%;
        top: 1em;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: $pill-radius;
        box-shadow: inset 0px 0px 30px -20px rgba($pure-black,0.75);
      }
      margin-inline: 1em;
      @include breakpoint(small only) {
        margin-inline: 0.5em;
      }
      &__config{
        background-color: #FFF000;
        padding-inline: 1em;
        padding-block-end: 1em;
      }
    }
  }
  .logo-container{
    z-index: 1;
    position: relative;
  }
}