.favorite-things{
  margin-block-start: 5em;
  h2{
    font-family: $fraunces;
    margin-bottom: 0;
    span{
      letter-spacing: 0.75em;
    }
  }
  .hovered{
    animation-play-state: paused !important;
  }
  .tooltip{
    position: absolute;
    top: 0;
    width: 10em;
    display: none;
  }
  .circle {
    width: 70px; //TODO with image size
    aspect-ratio: 1/1;
    border-radius: 50%;
    offset-path: circle(30% at 50% 50%);
    offset-rotate: 0deg;
    position: relative;
    background-color: orange;
    &:hover{
      .tooltip{
        display: block;			
      }
    }
  }
  
  $anim-time: 20s;
  $numb: 8; //The number of circles/elements we have
  .circle-1 { background: #814AB1; }
  .circle-2 { background: #4CBDC9; }
  .circle-3 { background: #FFCE24; }
  .circle-4 { background: #FF2D74; }
  .circle-5 { background: #814AB1; }
  .circle-6 { background: #4CBDC9; }
  
  //Starts each circle with an offset
  @for $i from 1 through $numb {
    $offset: percentage(($i - 1) / $numb);
    @keyframes load-#{$i} {
      from {
        offset-distance: 100% / $numb * $i;
      }
      to {
        offset-distance: 100% / $numb * $i + 100%;
      }
    }
    .circle-#{$i} {
      animation: load-#{$i} $anim-time linear infinite;
      offset-distance: 100% / $numb * $i;
    }
  }
}