footer{
  position: relative;
  color: $pure-white;
  background: $navy-black;
  background-position: center;
  font-family: $zilla;
  padding-bottom: 3rem;
  padding-top: 5rem;
  margin-top: 5rem;
  overflow: hidden;
  @include breakpoint(small only){
    padding-bottom: 1rem;
    padding-top: 2rem;
  }
  @media (prefers-color-scheme: dark) {
    background-color: $navy-black-d5;
  }
  &::before{
    content: "";
    position: absolute;
    background: url(/img/sulley.png);
    width: 130%;
    aspect-ratio: 4/3;
    bottom: -100%;
    left: -20%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(190deg);
    @media (prefers-color-scheme: dark) {
      filter: brightness(0.8);
    }
    @include breakpoint(small only){
      width: 180%;
      bottom: -50%;
      left: -50%;
    }
  }
  &::after{
    content: "";
    position: absolute;
    background: url(/img/mango.png);
    width: 135%;
    aspect-ratio: 4/3;
    top: -119%;
    right: -46%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(41deg) scaleX(-1);
    @media (prefers-color-scheme: dark) {
      filter: brightness(0.8);
    }
    @include breakpoint(small only){
      width: 170%;
      transform: rotate(-10deg) scaleX(-1);
      top: -60%;
      right: -70%;
    }
  }
  @include breakpoint(small only){
    margin-top: 1rem;
  }
  .content-area{
    padding: 2rem;
    border-radius: $tile-radius-medium;
    @include breakpoint(small only){
      padding: 1rem;
    }
  }
  .next-year{
    padding-left: 1rem;
    @include breakpoint(small only){
      padding-left: 0;
    }
    svg{
      width: 100%;
      height: 100%;
      path{
        fill: rgba($pure-white, 1);
      }
    }
    .twenty{
      padding-right: 1rem;
      margin-bottom: 0.5rem;
      @include breakpoint(small only){
        padding-right: 0;
      }
    }
    .scaling-middle{
      background-color: rgba($pure-white, 1);
      margin: 4px 0;
      @include breakpoint(small only){
        margin: 4px -2px;
      }
    }
  }
  .title-area{
    z-index: 2;
    margin-top: 5rem;
    padding: 0 1em;
    @include breakpoint(small only){
      margin-top: 3rem;
      padding: 0 0.25em;
    }
    .subtitle{
      font-family: $big-shoulders;
      font-weight: $big-shoulders-black;
      text-transform: uppercase;
      font-size: 1.5rem;
      @include breakpoint(small only) {
        font-size: 1rem;
      }
    }
  }
  .logo{
    #rehan-logo-footer{
      height: 30px;
      transition: $sprint;
      &:hover{
        transform: scale(1.1);
      }
      g{
        fill:$pure-white; //Changes the color of my logo inline
      }
      @include breakpoint(small only){
        height: 22px;
      }
    }
  }
}