header{
  padding: 3rem;
  font-family: $montserrat;
  font-weight: $big-shoulders-black;
  overflow: hidden;
  @include breakpoint(small only) {
    padding: 1rem;
  }
  .title-area{
    z-index: 2;
    color: semantic-color(text);
  }
  .subtitle{
    text-transform: uppercase;
    font-weight: $big-shoulders-bold;
    font-size: 1.5rem;
    @include breakpoint(small only) {
      font-size: 1rem;
    }
  }
  .roman-numeral{
    h1{
      $blur-radius: 30px;
      $kern-factor: 1em;
      transition: all 0.5s ease-in-out;
      padding-left: $kern-factor; //Balances out the letter spacing
      letter-spacing: $kern-factor;
      font-family: $montserrat;
      font-weight: $big-shoulders-black;
      font-size: 5em;
      &:hover{
        text-shadow: -0.35em 0.125em $blur-radius #32C5FF, 0.15em 0.35em $blur-radius #FFE032,  0.3em -0.125em $blur-radius #FF32F7;
      }
    }
  }
  .logo{
    #rehan-logo-header{
      height: 30px;
      transition: $sprint;
      &:hover{
        transform: scale(1.1);
      }
      g{
        fill:semantic-color(text); //Changes the color of my logo inline
      }
      @include breakpoint(small only){
        height: 22px;
      }
    }
  }
}