.leveled-up{
  overflow: hidden;
  margin-top: 2rem;
  padding: 2em;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  @keyframes bob{
    0% {
      transform: rotate(2deg) translateY(0);
    }
    50% {
      transform: rotate(-2deg) translateY(-20px);
    }
    100% {
      transform: rotate(2deg) translateY(0);
    }
  }
  .content-area{
    position: relative;
  }
  $animationSpeed: 20s;
  @keyframes scroll2 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-800px)}
  }
  .cloud-wrapper{
    position: absolute;
    width: 100%;
  }
  .cloud-wrapper2{
    position: absolute;
    bottom: 10%;
    width: 100%;
    @include breakpoint(small only) {
      bottom: 25%;
    }
    .cloud-container{
      .slide-track{
        animation: scroll2 50s linear infinite;
        width: 800px;
      }
      .slide{
        min-width: 120px;
        margin: 0 8rem;
        svg{
          height: 120px;
          @include breakpoint(small only) {
            height: 80px;
          }
        }
      }
    }
  }
  .cloud-container {
    overflow: hidden;
    position: relative;
    background-color: initial;
    margin-top: 4em;
    @include breakpoint(small only) {
      margin-top: 8em;
    }
    .slide-track {
      animation: scroll2 $animationSpeed linear infinite;
      display: flex;
      width: 1600px;
    }
    .slide{
      margin: 0 4rem;
      min-width: 60px;
      @include breakpoint(small only) {
        margin: 0 1rem;
      }
      svg{
        height: 200px;
        @include breakpoint(small only) {
          height: 80px;
        }
        @media (prefers-color-scheme: dark) {
          linearGradient{ //TODO here relative to cloud color and chrome
            stop[offset="0"]{
              stop-color: #41545B;
            }
            stop[offset="1"]{
              stop-color: #2B3341;
            }
          }
        }
      }
    }
  }
  .gradient-container{
    z-index: 2;
    background: linear-gradient(90deg, $pure-white 0%, rgba($pure-white, 0) 25%, rgba($pure-white, 0) 75%, $pure-white 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @media (prefers-color-scheme: dark) {
      background: linear-gradient(90deg, $navy-black-d3 0%, rgba($navy-black-d3, 0) 25%, rgba($navy-black-d3, 0) 75%, $navy-black-d3 100%);
    }
  }
  .bundle-container{
    transform-origin: top center;
    animation: bob 7s ease-in-out infinite paused;
    animation-play-state: running;
    z-index: 3;
    @media (prefers-color-scheme: dark) {
      svg[class="balloon-bundle"]{
        g{
          path[stroke="#1F2937"]{
            stroke: #FFFFFF;
          }
          path[fill="#FA6400"]{
            fill: #D85906;
          }
          path[fill="#F7B500"]{
            fill: #D59E06;
          }
          path[fill="#B620E0"]{
            fill: #8E1FB2;
          }
          path[fill="#E02020"]{
            fill: #AE1F22;
          }
          path[fill="#32C5FF"]{
            fill: #2B9BC9;
          }
          path[fill="#44D7B6"]{
            fill: #39A892;
          }
          path[fill="#0091FF"]{
            fill: #0674C9;
          }
          path[fill="#6DD400"]{
            fill: #60B806;
          }
          path[fill="#FA0098"]{
            fill: #C1077C;
          }
        }
      }
    }
  }
  .text-container{
    p{
      text-align: left;
      font-size: 1.5em;
      line-height: 1.2;
      margin: 0;
      padding: 0;
      font-weight: $lato-bold;
      @include breakpoint(small only) {
        font-size: 1.25em;
      }
    }
  }
  .text-container{
    text-align: center;
    h2{
      margin-top: 1rem;
      font-family: $big-shoulders;
      font-weight: $big-shoulders-black;
      font-size: 10em;
      text-transform: uppercase;
      line-height: 0.8;
      @include breakpoint(small only) {
        font-size: 7em;
      }
      span{
        font-size: 0.25em;
        display: block;
        letter-spacing: 0.09em;
        margin-bottom: 0.15em;
      }
    }
  }
}