.movies{
  margin-top: 30rem;
  @include breakpoint(small only) {
    margin-top: 15rem;
    font-size: 0.5em;
  }
  .content-area{
    border-radius: $tile-radius-medium;
    background-color: semantic-color(movie-card-bg);
    font-family: $big-shoulders;
    padding: 2em;
    position: relative;
    @include breakpoint(small only) {
      padding: 1em;
    }
    .overhang{
      margin-block-start: -20em;
    }
    .title-container{
      @include breakpoint(small only) {
        font-size: 1.5em;
      }
      h2{
        font-family: $big-shoulders;
        font-weight: $big-shoulders-light;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
        line-height: 1;
        font-size: 1.5em;
        letter-spacing: 0.5em;
        @include breakpoint(small only) {
          padding: 0;
          font-weight: $big-shoulders-regular;
        }
      }
      .title2{
        text-align: center;
        h3{
          font-size: 6em;
          font-family: $big-shoulders;
          font-weight: $big-shoulders-black;
          position: relative;
          display: inline-block;
          text-transform: uppercase;
          line-height: 1;
          span{
            font-weight: $big-shoulders-regular;
            transform: rotate(90deg);
            font-size: .5em;
            letter-spacing: 0.1em;
            position: absolute;
            top: 0;
            bottom: 0;
            right: -1em;
          }
        }
      }
    }
    .top-picks{
      margin-block-start: -2em;
      @include breakpoint(small only) {
        margin-block-start: -4em;
      }
      .poster-box{
        margin-inline-end: -1.5em; //create the left to right poster overlap effect
        @include breakpoint(small only) {
          margin-inline-end: -2.5em;
        }
        .number{
          z-index: 2;
        }
        &:nth-of-type(1){
          z-index: 4;
          .poster{
            max-width: 16em;
          }
        }
        &:nth-of-type(2), &:nth-of-type(3){
          z-index: 3;
          .poster{
            max-width: 12em;
            .number{
              font-size: 0.75em;
              @include breakpoint(small only) {
                font-size: 1em;
              }
            }
          }
        }
        &:nth-of-type(4), &:nth-of-type(5){
          max-width: 8em;
          .number{
            font-size: 0.5em;
            @include breakpoint(small only) {
              font-size: 1em;
            }
          }
        }
      }
      .poster-container{
        margin-inline-end: 1.5em; //Adjusting for the negative margin of the poster overlaps
        @include breakpoint(small only) {
          margin-inline-end: 2.5em;
        }
      }
      .poster{
        position: relative;
        .number{
          color: semantic-color(text-inverted);
          margin-block-start: -1.5em;
          aspect-ratio: 1/1;
          background-color: semantic-color(movie-number-badge-bg);
          width: 3em;
          border-radius: $pill-radius;
          padding: 0.5em;
          text-align: center;
          border: 0.2em solid semantic-color(movie-card-bg);
        }
        p{
          padding: 0;
          margin: 0;
          font-family: $lato;
          font-weight: $lato-black;
          font-size: 2em;
          line-height: 0.75; //adjust to visually center when adjusting the border of .number
        }
        img{
          border-radius: $tile-radius;
          box-shadow: $centered-shadow rgba($pure-black, 0.5);
        }
      }
      .poster-barbie{
        &:hover{
          .barbie-gif{
            display: block;
          }
        }
        .barbie-gif{
          position: absolute;
          top: 30%;
          rotate: -10deg;
          display: none;
        }
      }
      .poster-elemental{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='80' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🔥💧</text></svg>") 16 0,auto;
      }
      .poster-top-gun{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>✈️</text></svg>") 16 0,auto;
      }
      .poster-glass-onion{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🔍</text></svg>") 16 0,auto;
      }
      .poster-black-panther{
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🐈‍⬛</text></svg>") 16 0,auto;
      }
    }
    .divider-container{
      margin-block-start: 2em;
      margin-block-end: 2em;
      .divider-line{
        width: 20em;
        background-color: $navy-black-l7;
        border-radius: $pill-radius;
        content: '';
        height: 0.1em;
      }
    }
    .stats-container{
      @include breakpoint(small only) {
        font-size: 2em;
        padding: 1em;
      }
    }
    .total-watched{
      font-size: 1.35em;
      position: relative;
      .text-container{
        position: relative;
        z-index: 2;
      }
      p{
        font-family: $big-shoulders;
        margin: 0;
        padding: 0;
        line-height: 1;
      }
      .number{
        font-weight: $big-shoulders-black;
        font-size: 2em;
        @include breakpoint(small only) {
          font-size: 1.75em;
        }
      }
    }
    .busy-day{
      font-size: 1.35em;
      position: relative;
      @include breakpoint(small only) {
        margin-block-start: 1em;
        margin-block-end: 1em;
      }
      @include breakpoint(medium){
        justify-content: center;
      }
      .text-container{
        position: relative;
        z-index: 2;
      }
      p{
        font-family: $big-shoulders;
        margin: 0;
        padding: 0;
        line-height: 1;
      }
      .number{
        font-weight: $big-shoulders-black;
        font-size: 2em;
        @include breakpoint(small only) {
          font-size: 1.75em;
        }
      }
    }
    .first-watch{
      font-size: 1.35em;
      position: relative;
      .text-container{
        position: relative;
        z-index: 2;
      }
      p{
        font-family: $big-shoulders;
        margin: 0;
        padding: 0;
        line-height: 1;
      }
      .number{
        font-weight: $big-shoulders-black;
        font-size: 2em;
        @include breakpoint(small only) {
          font-size: 1.75em;
        }
      }
    }
    .stats-container{
      .sub-description{
        font-family: $zilla;
        font-weight: $zilla-light;
        font-size: 0.75em;
        color: semantic-color(movie-sub-description);
        i{
          font-size: 0.6em;
        }
      }
    }
  }
}