$cassette-case-color: pink;
$cassette-punchouts: white; //should be page-bg
.music{
  font-family: $montserrat;
  .title-wrapper{
    margin-block: 2em;
    h2{
      font-family: $montserrat;
      font-size: 5rem;
      line-height: 4rem;
      margin-top: 0.1em;
      .description{
        font-size: 3rem;
        display: block;
        @include breakpoint(small only) {
          font-size: 1.5rem;
        }
      }
    }
  }
  .cassette-row{
    .cassette-wrapper{
      &:nth-of-type(odd){
        rotate: -2deg;
        .cassette{
          rotate: 180deg;
        }
      }
      &:nth-of-type(even){
        rotate: 3deg;
        margin-block-end: 1em;
      }
    }
  }
  .cassette-wrapper{
    &:nth-of-type(odd){
      a{
        &:hover{
          rotate: -2deg;
        }
      }
    }
    &:nth-of-type(even){
      a{
        &:hover{
          rotate: 2deg;
        }
      }
    }
    a{
      color: semantic-color(text);
      transition: $sprint;
      &:hover{
        scale: 1.05;
      }
    }
    .song-details{
      background-color: rgba(#B4B4B4, 0.1);
      --blur: 10px;
      -webkit-backdrop-filter: blur(var(--blur));
      backdrop-filter: blur(var(--blur));
      border-radius: $tile-radius;
      margin-block-end: 0.5em;
      padding-inline: 1.5em;
      // padding-block: 0.5em;
      padding-block: 1em;
      font-size: 0.8em;
      .song-name{
        font-weight: $montserrat-black;
        font-size: 1.20em;
      }
      .artist-name{
        font-weight: $montserrat-medium;
      }
    }
    .cassette{
      aspect-ratio: 3/2;
      border-radius: $tile-radius;
      padding-inline: 1.5em;
      padding-block-start: 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $cassette-case-color;
      position: relative;
      .screw{
        aspect-ratio: 1/1;
        background-color: rgba($pure-black, 0.25);
        width: 0.5em;
        border-radius: $pill-radius;
        position: absolute;
        $inline-spacing: 1em;
        $block-spacing: 0.75em;
        &__1{
          top: $block-spacing;
          left: $inline-spacing;
        }
        &__2{
          top: $block-spacing;
          right: $inline-spacing;
        }
        &__3{
          bottom: $block-spacing;
          left: $inline-spacing;
        }
        &__4{
          bottom: $block-spacing;
          right: $inline-spacing;
        }
      }
      .sticker{
        position: relative;
        flex-grow: 1;
        margin-block-end: 0.5em;
        border-radius: $tile-radius;
        background-color: black;
        background-image: url("../img/music/kelly-time.jpg");
        background-size: cover;
      }
      .reel-window{
        background-color: $cassette-case-color;
        border-radius: $pill-radius;
        padding: 0.5em;
        display: inline-flex;
        position: absolute;
        bottom: 2em;
        left: 0;
        right: 0;
        width: fit-content;
        margin: auto;
        .reel-left, .reel-right{
          border-radius: $pill-radius;
          width: 2em;
          height: 2em;
          background-color: $cassette-punchouts;
          display: inline-block;
          @keyframes rotate{
            to{
              rotate: 0deg;
            }
            from{
              rotate: 360deg;
            }
          }
          svg{
            animation: 15s rotate linear infinite;
          }
        }
        .window{
          background-color: $cassette-punchouts;
          margin-inline: 0.5em;
          width: 4em;
          border-radius: 5px;
        }
      }
      .bump-out{
        background-color: rgba($pure-black, 0.05);
        clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
        margin-inline: 2em;
        padding-block-start: 1em;
        padding-block-end: 0.25em;
        padding-inline: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .left, .right{
          .circle{
            border-radius: $pill-radius;
            aspect-ratio: 1/1;
            width: 1em;
            background-color: $cassette-punchouts;
            display: inline-block;
          }
          .pill{
            border-radius: $pill-radius;
            aspect-ratio: 2/1;
            width: 0.75em;
            background-color: $cassette-punchouts;
            display: inline-block;
            vertical-align:top;
          }
        }
        .left{
          .circle{
            margin-inline-end: 0.25em;
          }
        }
        .right{
          .circle{
            margin-inline-start: 0.25em;
          }
        }
      }
    }
  }
}
