.music{
  h2{
    font-size: 5rem;
    line-height: 4rem;
    margin-top: 0.1em;
    .description{
      font-size: 3rem;
      display: block;
      @include breakpoint(small only) {
        font-size: 1.5rem;
      }
    }
  }
  .cassette-wrapper{
    .cassette{
      aspect-ratio: 3/2;
      border-radius: $tile-radius;
      padding-inline: 1.5em;
      padding-block-start: 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: pink;
      .sticker{
        // aspect-ratio: 2.5/1;
        flex-grow: 1;
        margin-block-end: 0.5em;
        border-radius: $tile-radius;
        background-color: aqua;
      }
      .bump-out{
        background-color: rgba($pure-black, 0.05);
        clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
        margin-inline: 2em;
        padding-block-start: 1em;
        padding-block-end: 0.5em;
        padding-inline: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .left, .right{
          .circle{
            border-radius: $pill-radius;
            aspect-ratio: 1/1;
            width: 1em;
            background-color: red;
            display: inline-block;
          }
          .pill{
            border-radius: $pill-radius;
            aspect-ratio: 2/1;
            width: 0.75em;
            background-color: red;
            display: inline-block;
            vertical-align:top;
          }
        }
        .left{
          .circle{
            margin-inline-end: 0.25em;
          }
        }
        .right{
          .circle{
            margin-inline-start: 0.25em;
          }
        }
      }
    }
  }
}
