.skills{
  .text-hero{
    position: relative;
  }
  svg {
    width: 100%;
    text-transform: uppercase;
    font-family: $big-shoulders;
    font-weight: $big-shoulders-thin;
    fill: semantic-color(text);
  }
  .tag-container{
    // background-color: rgba(255, 192, 203, 0.295);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    padding: 2em;
    .tag{
      display: inline;
      border-radius: $pill-radius;
      background-color: red;
      padding: 0.5em 1.5em;
      width: fit-content;
      height: fit-content;
      font-weight: $lato-black;
      font-size: 1.5em;
      &:nth-of-type(1){
        grid-column: 5 / 7;
        grid-row: 2 / 3;
      }
      &:nth-of-type(2){
        grid-column: 1 / 4;
        grid-row: 4 / 5;
      }
    }
  }
}