.travel{
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  font-family: $montserrat;
  font-weight: $montserrat-regular;
  h2{
    font-family: $montserrat;
    font-weight: $montserrat-bold;
    font-size: 2em;
  }
  .boarding-card{
    background-color: pink;
    aspect-ratio:.75;
    -webkit-mask-image: radial-gradient(circle 30px at 50% -2% ,#0000 98%,#000);
    //-2 value to shift the circle up and down
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    border-radius: 15px;
    padding: 1em;
    &:not(:first-of-type){
      margin-top: -19em;
      background-color: rgb(128, 128, 250);
    }
    .departure, .arrival{
      span{
        &:first-of-type{
          font-weight: $montserrat-bold;
          font-size: 2em;
          line-height: 1.2;
          text-transform: uppercase;
        }
        &:last-of-type{
          font-size: 0.75em;
          margin-block-start: -0.25em;
        }
      }
    }
    .arrival{
      text-align: right;
    }
    span{
      display: block;
    }
  }
}