.travel{
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  font-family: $montserrat;
  font-weight: $montserrat-regular;
  h2{
    font-family: $montserrat;
    font-weight: $montserrat-bold;
    font-size: 2em;
  }
  .boarding-card{
    background-color: pink;
    // aspect-ratio:.75;
    aspect-ratio: 3/2;
    -webkit-mask-image: radial-gradient(circle 30px at 50% -2% ,#0000 98%,#000);
    //-2 value to shift the circle up and down
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    border-radius: 15px;
    padding: 1em;
    transition: $sprint;
    &:hover{
      transform: translateY(-1em);
    }
    .content-area{
      height: fit-content;
    }
    &:not(:first-of-type){
      // margin-top: -19em;
      margin-top: -7em;
      background: linear-gradient(#c421c1,#46004a);
    }
    &:last-of-type{
      border-bottom: 5px solid rgba($pure-black, 0.1);
    }
    .icon-wrapper{
      height: fit-content;
      aspect-ratio: 1/1;
    }
    .departure, .arrival{
      span{
        &:first-of-type{
          font-weight: $montserrat-bold;
          font-size: 2em;
          line-height: 1.2;
          text-transform: uppercase;
        }
        &:last-of-type{
          font-size: 0.75em;
          margin-block-start: -0.25em;
        }
      }
    }
    .arrival{
      text-align: right;
    }
    span{
      display: block;
    }
    .icon-wrapper{
      svg{
        fill: currentColor;
      }
    }
    // Per card styling
    //TODO decide what the color logic is
    &.bur-sea{
      background: linear-gradient(#2273A4,#00274A);
      color: $pure-white;
    }
    &.sea-bur{
      background: linear-gradient(#2273A4,#00274A);
      color: $pure-white;
    }
    &.lax-ewr{
      background: linear-gradient(#22a47b,#004a49);
      color: $pure-white;
    }
    &.nyc-dc{
      background: linear-gradient(#eedb04,#d5ab06);
      color: $navy-black;
    }
  }
}