$mobile-overlap: -10em;
.travel{
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include breakpoint(small only) {
    margin-top: 1rem;
    // font-size: 0.8em;
  }
  font-family: $montserrat;
  font-weight: $montserrat-regular;
  h2{
    font-family: $montserrat;
    font-weight: $montserrat-bold;
    font-size: 2em;
  }
  .column{
    flex-direction: column;
    //Mobile styling for the cross column overlap
    @include breakpoint(small only){
      &:not(:first-of-type){
        .boarding-card{
          &:first-of-type{
            margin-top: $mobile-overlap;
          }
        }
      }
    }
    // &:nth-of-type(3){
    //   font-size: 0.75em;
    // }
  }
  .boarding-card.title-card{
    background: linear-gradient(#F79868,#F15F63);
  }
  .boarding-card{
    // background: linear-gradient(#c421c1,#46004a);
    background: linear-gradient(#22a47b,#004a49);
    // TODO clean this up
    aspect-ratio: 3/2;
    -webkit-mask-image: radial-gradient(circle 30px at 50% -0.25em ,#0000 98%,#000);
    //-0.25em value to shift the circle up and down
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    border-radius: 15px;
    padding: 1em;
    transition: $sprint;
    @include breakpoint(small only){
      padding: 1.5em;
    }
    &:hover{
      transform: translateY(-1em);
    }
    .content-area{
      height: fit-content;
    }
    &:not(:first-of-type){
      margin-top: -7em;
      @include breakpoint(small only){
        margin-top: $mobile-overlap;
      }
    }
    &:last-of-type{
      border-bottom: 5px solid rgba($pure-black, 0.1);
      flex-grow: 2;
    }
    .icon-wrapper{
      height: fit-content;
      aspect-ratio: 1/1;
      @include breakpoint(small only){
        // padding: 0.75em;
      }
    }
    .departure, .arrival{
      span{
        &:first-of-type{
          font-weight: $montserrat-bold;
          font-size: 2em;
          line-height: 1.2;
          text-transform: uppercase;
        }
        &:last-of-type{
          font-size: 0.75em;
          margin-block-start: -0.25em;
          @include breakpoint(small only){
            font-size: 1em;
          }
        }
      }
    }
    .stat-label{
      span{
        &:first-of-type{
          font-weight: $montserrat-bold;
          font-size: 2em;
          line-height: 1.2;
          // text-transform: uppercase;
        }
        &:last-of-type{
          font-size: 0.75em;
          margin-block-start: -0.25em;
          @include breakpoint(small only){
            font-size: 1em;
          }
        }
      }
    }
    .stat-value{
      span{
        font-weight: $montserrat-regular;
        font-size: 2em;
        line-height: 1.2;
        // text-transform: uppercase;
      }
    }

    .arrival{
      text-align: right;
    }
    span{
      display: block;
    }
    .icon-wrapper{
      svg{
        fill: currentColor;
      }
    }
    // Per card styling
    $alaska-gradient: linear-gradient(#2273A4,#00274A);
    $lufthansa-gradient: linear-gradient(#FFC510,#997712);
    $united-gradient: linear-gradient(#47c7ea,#042159);
    $amtrak-gradient: linear-gradient(#06537E,#022031);
    $grey-gradient: linear-gradient(#5C5F71,#000000);
    $qatar-gradient: linear-gradient(#8E2157,#3c0c22);
    &.bur-sea, &.sea-bur{
      background: $alaska-gradient;
      color: $pure-white;
    }
    &.lax-ewr{
      background: $united-gradient;
      color: $pure-white;
    }
    &.nyc-dc, &.dc-nyc{
      background: $amtrak-gradient;
      color: $pure-white;
    }
    &.bwi-lax{
      background: $united-gradient;
      color: $pure-white;
    }
    &.bur-sfo, &.sfo-bur{
      background: $united-gradient;
      color: $pure-white;
    }
    &.lax-den, &.den-lax{
      background: $united-gradient;
      color: $pure-white;
    }
    &.lax-fra, &.fra-prg, &.bud-fra, &.fra-lax{
      background: $lufthansa-gradient;
      color: $pure-black;
    }
    &.lax-iad, &.ewr-lax{
      background: $united-gradient;
      color: $pure-white;
    }
    &.prg-vie, &.vie-bud{
      background: $grey-gradient;
      color: $pure-white;
    }
    &.lax-doh, &.doh-lax{
      background: $qatar-gradient;
      color: $pure-white;
    }
  }
  .flighty-credit{
    text-transform: uppercase;
    font-weight: $montserrat-bold;
    color: rgba($pure-white, 0.75);
    .icon-wrapper{
      border-radius: $tile-radius;
      overflow: hidden;
      aspect-ratio: 1/1;
      width: 1.75em;
      // TODO figure out why making this small doesn't work
      margin-inline-end: 0.5em;
    }
    .text-area{
      font-size: 0.75rem;
      line-height: 1.2;
    }
  }
}